<!DOCTYPE html>
<html>
<head>
  <title>GOTOQUOTES</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="//use.typekit.net/qcd5xzw.js"></script>
  <script>try {
   Typekit.load({async: true});
  } catch (e) {
  }</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% current_user %>
</head>
<body>

<%= yield %>

</body>
</html>
